<footer class="page-footer font-small bg-dark fixed-bottom">
    <!-- <div class="footer-copyright text-center py-3" style="color:  #a8d70e;">&copy; 2024 Copyright:
        <a href="http://localhost:8000" style="color: #a8d70e;">Deliver</a>
        <a class="ml-3" href="#" style="color: #a8d70e;">Restaurant Login</a> -->
    <div class="footer-copyright text-center py-3" >&copy; 2024 Copyright:
        &nbsp;
        <a href="http://localhost:8000" class="footer-copyright">Deliver</a>
        &nbsp;
        <a class="ml-3 footer-copyright" href="#" >Restro Login</a>
    </div>
    
</footer>
